@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

span {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  line-height: inherit;
}

/* Colors */
/* Default style */
body {
  color: hsl(224, 21%, 14%);
  background: hsl(0, 0%, 100%);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.3;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

/* ------------------------ */
.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page__container {
  background: hsl(0, 0%, 100%);
  padding: 1.5rem 1rem 2.8125rem;
  max-width: 23.4375rem;
}

.container__notifications-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 0.625rem;
  line-height: normal;
}

.read__notifications {
  color: hsl(219, 12%, 42%);
  cursor: pointer;
  font-size: 0.875rem;
  letter-spacing: 0.0131rem;
  line-height: normal;
}

.read__notifications:hover {
  color: hsl(219, 85%, 26%);
}

.ammount__notifications {
  margin-right: 3.6875rem;
  color: hsl(0, 0%, 100%);
  background: hsl(219, 85%, 26%);
  padding: 0.375rem 0.6875rem;
  border-radius: 0.3125rem;
}

.container__content {
  display: flex;
  margin-bottom: 0.75rem;
  background: hsl(210, 60%, 98%);
  border-radius: 0.5rem;
  padding: 1rem 1.625rem 1rem 1rem;
}

.user__icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.875rem;
  cursor: pointer;
}

.img__notification {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.name__notification {
  font-weight: 700;
  cursor: pointer;
}

.name__notification:hover {
  color: hsl(219, 85%, 26%);
}

.post__notification {
  color: hsl(219, 12%, 42%);
  font-weight: 700;
  cursor: pointer;
}

.post__notification:hover {
  color: hsl(219, 85%, 26%);
}

.post__notification-blue {
  color: hsl(219, 85%, 26%);
  font-weight: 700;
  cursor: pointer;
}

.post__notification-blue:hover {
  color: hsl(219, 85%, 45%);
}

.time__notification {
  color: hsl(219, 14%, 63%);
}

.red_dot {
  width: 0.5625rem;
  height: 0.5625rem;
  background: hsl(1, 90%, 64%);
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.5rem;
  cursor: pointer;
}

.container__content.content-viewed {
  background: hsl(0, 0%, 100%);
}

.container__content.content-viewed:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.container__box-message {
  color: hsl(219, 12%, 42%);
  border: 1px solid hsl(211, 68%, 94%);
  border-radius: 0.3125rem;
  padding: 1.25rem 2rem 1rem 1.0625rem;
  margin-top: 0.75rem;
  cursor: pointer;
}

.container__box-message:hover {
  background: hsl(211, 68%, 94%);
}

/* ------------------------ */
.error {
  display: none;
}

.unread {
  background: hsl(0, 0%, 100%);
}

/* ------------------------ */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 37.5em) {
  body {
    font-size: 1rem;
    background: hsl(228, 71%, 99%);
  }
  .main-page__container {
    border-radius: 1rem;
    max-width: 34.25rem;
    box-shadow: 1px 1px 12px 0px rgba(76, 88, 131, 0.1);
  }
  .ammount__notifications {
    margin-right: 14.875rem;
  }
  .img__notification {
    margin-left: 10.25rem;
  }
}
@media (min-width: 64em) {
  .main-page__container {
    padding: 2.3125rem 2rem 1.125rem;
    max-width: 45.75rem;
  }
  .container__notifications-header {
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 1.5rem;
    margin-right: 0.75rem;
  }
  .ammount__notifications {
    margin-right: 21.875rem;
  }
  .read__notifications {
    font-size: 1rem;
  }
  .user__icon {
    width: 2.875rem;
    height: 2.875rem;
    margin-right: 1.25rem;
  }
  .img__notification {
    width: 2.875rem;
    height: 2.875rem;
  }
}/*# sourceMappingURL=style.css.map */